# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
for column in salaries.columns:
    print(f'{column} has {salaries[column].isnull().sum()} null values')

Name has 0 null values
Job Titles has 0 null values
Department has 0 null values
Full or Part-Time has 0 null values
Salary or Hourly has 0 null values
Typical Hours has 25161 null values
Annual Salary has 8022 null values
Hourly Rate has 25161 null values

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
salaried=(salaries['Salary or Hourly']=='Salary').sum()
hourly=(salaries['Salary or Hourly']=='Hourly').sum()
print(f'{salaried} salaried employees, {hourly} hourly employees')

25161 salaried employees, 8022 hourly employees

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
salaries.groupby('Department').Name.count().sort_values(ascending=False)

Department
POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Name, dtype: int64

In [7]:
for dep in salaries.Department.unique():
    print(f'{dep}: {salaries[salaries.Department==dep].shape[0]} employees.')

POLICE: 13414 employees.
GENERAL SERVICES: 980 employees.
WATER MGMNT: 1879 employees.
OEMC: 2102 employees.
CITY COUNCIL: 411 employees.
AVIATION: 1629 employees.
STREETS & SAN: 2198 employees.
FIRE: 4641 employees.
FAMILY & SUPPORT: 615 employees.
PUBLIC LIBRARY: 1015 employees.
TRANSPORTN: 1140 employees.
MAYOR'S OFFICE: 85 employees.
HEALTH: 488 employees.
BUSINESS AFFAIRS: 171 employees.
LAW: 407 employees.
FINANCE: 560 employees.
CULTURAL AFFAIRS: 65 employees.
COMMUNITY DEVELOPMENT: 207 employees.
PROCUREMENT: 92 employees.
BUILDINGS: 269 employees.
ANIMAL CONTRL: 81 employees.
CITY CLERK: 84 employees.
BOARD OF ELECTION: 107 employees.
DISABILITIES: 28 employees.
HUMAN RESOURCES: 79 employees.
DoIT: 99 employees.
BUDGET & MGMT: 46 employees.
TREASURER: 22 employees.
INSPECTOR GEN: 87 employees.
HUMAN RELATIONS: 16 employees.
COPA: 116 employees.
BOARD OF ETHICS: 8 employees.
POLICE BOARD: 2 employees.
ADMIN HEARNG: 39 employees.
LICENSE APPL COMM: 1 employees.

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [8]:
from scipy.stats import ttest_1samp
from statsmodels.stats.weightstats import ztest

In [9]:
hourly_rate=salaries['Hourly Rate'].dropna()
mu=30
t,p=ttest_1samp(hourly_rate,mu)
if p > .05:
    print('No significant difference')
else:
    print('Significantly different from $30/hr')

Significantly different from $30/hr

In [10]:
#ttest from scipy vs ztest from statsmodels
t,p=ttest_1samp(hourly_rate,mu)
t1,p2=ztest(hourly_rate,value=mu)
print(t,t1,p,p2)

20.6198057854942 20.6198057854942 4.3230240486229894e-92 1.8228873859286195e-94

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [20]:
police=salaries[salaries.Department=='POLICE']['Annual Salary'].dropna()
mu=86000
t,p=ttest_1samp(police,mu)
if t>0 and p/2<.05:
    print("Salaries this year are higher than last year's mean")
else:
    print("Salaries this year are not higher than last year's mean")

Salaries this year are higher than last year's mean

Using the `crosstab` function, find the department that has the most hourly workers.

In [12]:
pd.crosstab(salaries.Department,salaries['Salary or Hourly']).sort_values('Hourly',ascending=False)

Salary or Hourly       Hourly  Salary
Department
STREETS & SAN            1862     336
WATER MGMNT              1513     366
OEMC                     1273     829
AVIATION                 1082     547
GENERAL SERVICES          765     215
TRANSPORTN                725     415
PUBLIC LIBRARY            299     716
FAMILY & SUPPORT          287     328
CITY COUNCIL               64     347
FINANCE                    44     516
LAW                        40     367
ANIMAL CONTRL              19      62
POLICE                     10   13404
MAYOR'S OFFICE              8      77
BUSINESS AFFAIRS            7     164
CULTURAL AFFAIRS            7      58
COMMUNITY DEVELOPMENT       4     203
HUMAN RESOURCES             4      75
HEALTH                      3     485
PROCUREMENT                 2      90
FIRE                        2    4639
BUDGET & MGMT               2      44
HUMAN RELATIONS             0      16
INSPECTOR GEN               0      87
DoIT                        0      99
LICENSE APPL COMM           0       1
DISABILITIES                0      28
COPA                        0     116
CITY CLERK                  0      84
POLICE BOARD                0       2
BUILDINGS                   0     269
BOARD OF ETHICS             0       8
BOARD OF ELECTION           0     107
TREASURER                   0      22
ADMIN HEARNG                0      39

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [21]:
streets=salaries[salaries.Department=='STREETS & SAN']['Hourly Rate'].dropna()
mu=35
t,p=ttest_1samp(streets,mu)
if t<0 and p/2<0.5:
    print("Hourly wage is less than $35/hour")
else:
    print("Hourly wage is not less than $35/hour")

Hourly wage is less than $35/hour

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [14]:
import scipy.stats as stats

In [15]:
stats.t.interval(alpha=0.95,df=len(hourly_rate)-1,loc=hourly_rate.mean(),scale=stats.sem(hourly_rate))

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [16]:
stats.t.interval(alpha=0.95,df=len(police)-1,loc=police.mean(),scale=stats.sem(police))

(86177.05631531784, 86795.77269094894)

In [17]:
# For STREETS & SAN dpt
stats.t.interval(alpha=0.95,df=len(streets)-1,loc=streets.mean(),scale=stats.sem(streets))

(33.46770719766768, 33.98904897848601)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [18]:
from statsmodels.stats.proportion import proportions_ztest

In [19]:
t,p=proportions_ztest(count=len(salaries[salaries['Salary or Hourly']=='Hourly']),nobs=len(salaries),value=.25)
if p > .05:
    print('No significant difference')
else:
    print('Significantly different from 25%')

Significantly different from 25%