# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:
salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [23]:
# Your code here:
print('There are {:,} Salaried employees, and {:,} Hourly emplooyees.'.format(salaries['Salary or Hourly'][salaries['Salary or Hourly'] == 'Salary'].count(), salaries['Salary or Hourly'][salaries['Salary or Hourly'] == 'Hourly'].count()))

There are 25,161 Salaried employees, and 8,022 Hourly emplooyees.

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [34]:
# Your code here:
list(salaries.Department.unique())

['POLICE',
 'GENERAL SERVICES',
 'WATER MGMNT',
 'OEMC',
 'CITY COUNCIL',
 'AVIATION',
 'STREETS & SAN',
 'FIRE',
 'FAMILY & SUPPORT',
 'PUBLIC LIBRARY',
 'TRANSPORTN',
 "MAYOR'S OFFICE",
 'HEALTH',
 'BUSINESS AFFAIRS',
 'LAW',
 'FINANCE',
 'CULTURAL AFFAIRS',
 'COMMUNITY DEVELOPMENT',
 'PROCUREMENT',
 'BUILDINGS',
 'ANIMAL CONTRL',
 'CITY CLERK',
 'BOARD OF ELECTION',
 'DISABILITIES',
 'HUMAN RESOURCES',
 'DoIT',
 'BUDGET & MGMT',
 'TREASURER',
 'INSPECTOR GEN',
 'HUMAN RELATIONS',
 'COPA',
 'BOARD OF ETHICS',
 'POLICE BOARD',
 'ADMIN HEARNG',
 'LICENSE APPL COMM']

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [56]:
#We will evaluate the significance of the value stated above, with a Z Test (we have more than 30 observations) and based on a p-value. 

import pandas as pd
from scipy import stats
from statsmodels.stats import weightstats as stests

ztest, pval = stests.ztest(salaries['Hourly Rate'].dropna(), x2=None, value=30, alternative='two-sided')

if pval<0.05:
    print('Our p-value is {:.04}, less than 0.05, thus, we reject the Null Hypothesis and confirm that the hourly wage of all hourly workers is significantly different from $30/hr.'.format(pval))
else:
    print('Our p-value is {:.04}, greater than 0.05, thus, we accept the Null Hypothesis and confirm that the hourly wage of all hourly workers is not significantly different from $30/hr.'.format(pval))

Our p-value is 1.823e-94, less than 0.05, thus, we reject the Null Hypothesis and confirm that the hourly wage of all hourly workers is significantly different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [58]:
#Same evaluation, but now we will do a one tailed test. 

ztest, pval = stests.ztest(salaries['Annual Salary'].dropna(), x2=None, value=86000, alternative='larger')

if pval<0.05:
    print('Our p-value is {:.04}, less than 0.05, thus, we reject the Null Hypothesis and confirm that salaries this year are higher than last years mean of $86,000 a year for all salaried employees'.format(pval))
else:
    pprint('Our p-value is {:.04}, greater than 0.05, thus, we accept the Null Hypothesis and confirm that salaries this year are not higher than last years mean of $86,000 a year for all salaried employees'.format(pval))

Our p-value is 1.488e-09, less than 0.05, thus, we reject the Null Hypothesis and confirm that salaries this year are higher than last years mean of $86,000 a year for all salaried employees

Using the `crosstab` function, find the department that has the most hourly workers.

In [60]:
#As we will see in the output below, the Streets and Sanitation Department is the one with the most hourly-paid workers, makes sense actually. 
 
pd.crosstab(salaries['Department'], salaries['Salary or Hourly']).sort_values('Hourly', ascending = False)

Salary or Hourly       Hourly  Salary
Department
STREETS & SAN            1862     336
WATER MGMNT              1513     366
OEMC                     1273     829
AVIATION                 1082     547
GENERAL SERVICES          765     215
TRANSPORTN                725     415
PUBLIC LIBRARY            299     716
FAMILY & SUPPORT          287     328
CITY COUNCIL               64     347
FINANCE                    44     516
LAW                        40     367
ANIMAL CONTRL              19      62
POLICE                     10   13404
MAYOR'S OFFICE              8      77
BUSINESS AFFAIRS            7     164
CULTURAL AFFAIRS            7      58
COMMUNITY DEVELOPMENT       4     203
HUMAN RESOURCES             4      75
HEALTH                      3     485
PROCUREMENT                 2      90
FIRE                        2    4639
BUDGET & MGMT               2      44
HUMAN RELATIONS             0      16
INSPECTOR GEN               0      87
DoIT                        0      99
LICENSE APPL COMM           0       1
DISABILITIES                0      28
COPA                        0     116
CITY CLERK                  0      84
POLICE BOARD                0       2
BUILDINGS                   0     269
BOARD OF ETHICS             0       8
BOARD OF ELECTION           0     107
TREASURER                   0      22
ADMIN HEARNG                0      39

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [67]:
#We are still above the 30 Observation mark, so we will conduct a Z-Test. 

ztest, pval = stests.ztest(salaries['Hourly Rate'][salaries['Department'] == 'STREETS & SAN'].dropna(), x2=None, value=35, alternative='smaller')

if pval<0.05:
    print('Our p-value is {:.04}, less than 0.05, thus, we reject the Null Hypothesis and confirm that Average Hourly Wages this year are less than $35.00'.format(pval))
else:
    print('Our p-value is {:.04}, greater than 0.05, thus, we accept the Null Hypothesis and confirm that Average Hourly Wages this year are not less than $35.00'.format(pval))

Our p-value is 5.479e-22, less than 0.05, thus, we reject the Null Hypothesis and confirm that Average Hourly Wages this year are less than $35.00

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [73]:
#Let's define a function that will output a 95% Confidence Interval around the Mean of the Dataset. 
import scipy.stats

def mean_confidence_interval(data, confidence=0.95):
    a = 1.0 * np.array(data)
    n = len(a)
    m, se = np.mean(a), scipy.stats.sem(a)
    h = se * scipy.stats.t.ppf((1 + confidence) / 2., n-1)
    return m-h, m, m+h

#Now let's define the 'data' input variable. 

hourly_ds = salaries['Hourly Rate'][salaries['Salary or Hourly']=='Hourly']

#Finally, let's input the exact data for study. 

mean_confidence_interval(hourly_ds)

(32.52345834488425, 32.78855771628024, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [74]:
#Same path, different Dataset. 

salaries_ds = salaries['Annual Salary'][salaries['Department'] == 'POLICE'][salaries['Salary or Hourly'] =='Salary']

mean_confidence_interval(salaries_ds)

(86177.05631531784, 86486.41450313339, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [77]:
#First we must import our needed Module. 

from statsmodels.stats.proportion import proportions_ztest

#Now we obtain our 'count' and 'nob' parameters, as the Test defines. 

count = salaries['Department'][salaries['Salary or Hourly']=='Hourly']
nobs = salaries['Department']

#Finally, the Test happens (I will conduct it as the ones I've been doing in the past exercises). 

ztest, pval = proportions_ztest(len(count),len(nobs), value= 0.25)

if pval<0.05:
    print('Our p-value is {:.04}, less than 0.05, thus, we reject the Null Hypothesis and confirm that the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level'.format(pval))
else:
    print('Our p-value is {:.04}, greater than 0.05, thus, we accept the Null Hypothesis and confirm that the number of hourly workers in the City of Chicago is not significantly different from 25% at the 95% confidence level'.format(pval))

Our p-value is 0.0004481, less than 0.05, thus, we reject the Null Hypothesis and confirm that the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level