# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [22]:
salaries.shape

(33183, 8)

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.isnull().sum(axis = 0)

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:

salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# Your code here:
from statistics import mean
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from scipy.stats import ttest_1samp


salaries['Hourly Rate'].dropna().plot.hist()

In [8]:
points =salaries['Hourly Rate'].dropna()
mu = points.mean()
sigma = points.std(ddof=0)

mu,sigma

(32.78855771628128, 12.111817701093837)

In [9]:
n = 50
x_bar = 30
z_critico = 1.96
standard_error = sigma/np.sqrt(n)
z_stat = (x_bar - mu)/standard_error

if z_stat == z_critico:
    print(f'El valor de z es {z_stat}, igual que {z_critico}. \nNo rechazamos la hipótesis nula: la media muestral '
          f'no es significativamente distinta de la media poblacional.')
else:
    print(f'El valor de z es {z_stat}, diferente que {z_critico}. \nRechazamos la hipótesis nula: la media muestral es '
          f'significativamente distinta de la media poblacional.')

El valor de z es -1.6280034257240268, diferente que 1.96.
Rechazamos la hipótesis nula: la media muestral es significativamente distinta de la media poblacional.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [10]:
# Your code here:
police=salaries['Annual Salary'][salaries.Department == 'POLICE'].dropna()
mu = police.mean()
sigma = police.std(ddof=0)

n = 50
x_bar = 86000
z_critico = 1.96
standard_error = sigma/np.sqrt(n)
z_stat = abs((x_bar - mu)/standard_error)

if z_stat > z_critico:
    print(f'El valor de z es {z_stat}, mayor que {z_critico}. \nNo rechazamos la hipótesis nula: la media muestral '
          f'no es significativamente distinta de la media poblacional.')
else:
    print(f'El valor de z es {z_stat}, no es mayor  que {z_critico}. \nRechazamos la hipótesis nula: la media muestral es '
          f'significativamente distinta de la media poblacional.')

El valor de z es 0.18824186017712874, no es mayor  que 1.96.
Rechazamos la hipótesis nula: la media muestral es significativamente distinta de la media poblacional.

Using the `crosstab` function, find the department that has the most hourly workers.

In [11]:
# Your code here:


pd.crosstab(index=salaries.Department,columns=salaries['Hourly Rate'].sum())

col_0                  263029.81
Department
ADMIN HEARNG                  39
ANIMAL CONTRL                 81
AVIATION                    1629
BOARD OF ELECTION            107
BOARD OF ETHICS                8
BUDGET & MGMT                 46
BUILDINGS                    269
BUSINESS AFFAIRS             171
CITY CLERK                    84
CITY COUNCIL                 411
COMMUNITY DEVELOPMENT        207
COPA                         116
CULTURAL AFFAIRS              65
DISABILITIES                  28
DoIT                          99
FAMILY & SUPPORT             615
FINANCE                      560
FIRE                        4641
GENERAL SERVICES             980
HEALTH                       488
HUMAN RELATIONS               16
HUMAN RESOURCES               79
INSPECTOR GEN                 87
LAW                          407
LICENSE APPL COMM              1
MAYOR'S OFFICE                85
OEMC                        2102
POLICE                     13414
POLICE BOARD                   2
PROCUREMENT                   92
PUBLIC LIBRARY              1015
STREETS & SAN               2198
TRANSPORTN                  1140
TREASURER                     22
WATER MGMNT                 1879

In [12]:
salaries.Department.describe()

count      33183
unique        35
top       POLICE
freq       13414
Name: Department, dtype: object

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [13]:
# Your code here:

poli=salaries['Hourly Rate'][salaries.Department == 'POLICE'].dropna()
mp=poli.mean()


n = 50
x_bar = 35
z_critico = 1.96
standard_error = sigma/np.sqrt(n)
z_stat =abs( (x_bar - mp)/standard_error)

if z_stat < z_critico:
    print(f'El valor de z es {z_stat}, menor que {z_critico}. \nNo rechazamos la hipótesis nula: la media muestral '
          f'no es significativamente distinta de la media poblacional.')
else:
    print(f'El valor de z es {z_stat}, mayor que {z_critico}. \nRechazamos la hipótesis nula: la media muestral es '
          f'significativamente distinta de la media poblacional.')
    
    
t, p = stats.ttest_1samp(poli, 35)

El valor de z es 0.009913362901876685, menor que 1.96.
No rechazamos la hipótesis nula: la media muestral no es significativamente distinta de la media poblacional.

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [14]:
# Your code here:

from scipy.stats import t

df=salaries['Hourly Rate'].dropna().mean()
t.interval(0.95, df, loc=1, scale=2)

(-3.0700276561720177, 5.070027656172018)

In [15]:
stats.sem(salaries['Hourly Rate'].dropna(),axis=None, ddof=0)

0.1352284271240131

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [16]:
# Your code here:
mp=poli.mean()
t.interval(0.95, mp, loc=1, scale=2)

(-3.496249325980676, 5.496249325980676)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [26]:
# Your code here:
import numpy as np
from statsmodels.stats.proportion import proportions_ztest
vc=salaries.mean()

vc

Typical Hours       34.507604
Annual Salary    86786.999790
Hourly Rate         32.788558
dtype: float64

In [28]:
#95%
c=32.788558
n=33183
v=.05
proportions_ztest(c, n, v)

(-284.1649981167279, 0.0)

In [29]:
#25%
c=32.788558
n=33183
v=.75
proportions_ztest(c, n, v)

(-4342.680419287889, 0.0)