# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:

salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:

salaries.groupby('Department').agg({'Name':'count'})

                        Name
Department
ADMIN HEARNG              39
ANIMAL CONTRL             81
AVIATION                1629
BOARD OF ELECTION        107
BOARD OF ETHICS            8
BUDGET & MGMT             46
BUILDINGS                269
BUSINESS AFFAIRS         171
CITY CLERK                84
CITY COUNCIL             411
COMMUNITY DEVELOPMENT    207
COPA                     116
CULTURAL AFFAIRS          65
DISABILITIES              28
DoIT                      99
FAMILY & SUPPORT         615
FINANCE                  560
FIRE                    4641
GENERAL SERVICES         980
HEALTH                   488
HUMAN RELATIONS           16
HUMAN RESOURCES           79
INSPECTOR GEN             87
LAW                      407
LICENSE APPL COMM          1
MAYOR'S OFFICE            85
OEMC                    2102
POLICE                 13414
POLICE BOARD               2
PROCUREMENT               92
PUBLIC LIBRARY          1015
STREETS & SAN           2198
TRANSPORTN              1140
TREASURER                 22
WATER MGMNT             1879

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
from scipy import stats

In [8]:
# Your code here:

salaries['Hourly Rate']

0          NaN
1          NaN
2          NaN
3          NaN
4        19.86
         ...
33178      NaN
33179      NaN
33180      NaN
33181      NaN
33182      NaN
Name: Hourly Rate, Length: 33183, dtype: float64

In [9]:
stats.ttest_1samp(salaries[salaries['Hourly Rate'].isnull() == False]['Hourly Rate'], 30)
#We reject the hypothesis as pvalue < alfa = 0.05.

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [13]:
# Your code here:
tstat, pvalue = stats.ttest_1samp(salaries[(salaries['Department'] == 'POLICE') & (salaries['Annual Salary'].isnull() == False)]['Annual Salary'], 86000)

print(tstat, pvalue/2)
#We reject the hypothesis as pvalue < 0.05.

3.081997005712994 0.0010301701775482569

Using the `crosstab` function, find the department that has the most hourly workers.

In [14]:
# Your code here:

hourly_prop = pd.crosstab(salaries['Department'], salaries['Salary or Hourly'], normalize='index')
hourly_prop

Salary or Hourly         Hourly    Salary
Department
ADMIN HEARNG           0.000000  1.000000
ANIMAL CONTRL          0.234568  0.765432
AVIATION               0.664211  0.335789
BOARD OF ELECTION      0.000000  1.000000
BOARD OF ETHICS        0.000000  1.000000
BUDGET & MGMT          0.043478  0.956522
BUILDINGS              0.000000  1.000000
BUSINESS AFFAIRS       0.040936  0.959064
CITY CLERK             0.000000  1.000000
CITY COUNCIL           0.155718  0.844282
COMMUNITY DEVELOPMENT  0.019324  0.980676
COPA                   0.000000  1.000000
CULTURAL AFFAIRS       0.107692  0.892308
DISABILITIES           0.000000  1.000000
DoIT                   0.000000  1.000000
FAMILY & SUPPORT       0.466667  0.533333
FINANCE                0.078571  0.921429
FIRE                   0.000431  0.999569
GENERAL SERVICES       0.780612  0.219388
HEALTH                 0.006148  0.993852
HUMAN RELATIONS        0.000000  1.000000
HUMAN RESOURCES        0.050633  0.949367
INSPECTOR GEN          0.000000  1.000000
LAW                    0.098280  0.901720
LICENSE APPL COMM      0.000000  1.000000
MAYOR'S OFFICE         0.094118  0.905882
OEMC                   0.605614  0.394386
POLICE                 0.000745  0.999255
POLICE BOARD           0.000000  1.000000
PROCUREMENT            0.021739  0.978261
PUBLIC LIBRARY         0.294581  0.705419
STREETS & SAN          0.847134  0.152866
TRANSPORTN             0.635965  0.364035
TREASURER              0.000000  1.000000
WATER MGMNT            0.805216  0.194784

In [15]:
hourly_prop[hourly_prop['Hourly'] == hourly_prop['Hourly'].max()]

Salary or Hourly    Hourly    Salary
Department
STREETS & SAN     0.847134  0.152866

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [16]:
# Your code here:

stats.ttest_1samp(salaries[(salaries['Department'] == 'STREETS & SAN') & (salaries['Hourly Rate'].isnull() == False)]['Hourly Rate'], 35)

print(tstat, pvalue/2)
#We reject the hypothesis as pvalue < 0.05.

3.081997005712994 0.0010301701775482569

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [17]:
from scipy.stats import t

In [18]:
# Your code here:

hourly_wage = salaries[salaries['Hourly Rate'].isnull() == False]
hourly_wage

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
...,...,...,...,...,...,...,...,...
33164,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,OEMC,F,Hourly,40.0,NaN,46.10
33168,"ZWARYCZ MANN, IRENE A",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
33169,"ZWARYCZ, THOMAS J",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33174,"ZYGADLO, JOHN P",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
33175,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85

In [19]:
t.interval(0.95, (len(hourly_wage)-1), hourly_wage.mean(),stats.sem(hourly_wage))

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [20]:
hourly_wage = salaries['Hourly Rate'].dropna()
hourly_wage

4        19.86
6        46.10
7        35.60
10        2.65
18       17.68
         ...
33164    46.10
33168    17.68
33169    35.60
33174    46.35
33175    48.85
Name: Hourly Rate, Length: 8022, dtype: float64

In [21]:
t.interval(.95, (len(hourly_wage)-1), hourly_wage.mean(),stats.sem(hourly_wage))

(32.52345834488425, 33.05365708767623)

In [22]:
#Anna / TAs: Como interpretar este resultado?

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [23]:
# Your code here:

annual = salaries.loc[(salaries['Hourly Rate'].isnull() == True), 'Annual Salary']
annual

0        101442.0
1         94122.0
2        101592.0
3        110064.0
5         50436.0
           ...
33178     72510.0
33179     48078.0
33180     90024.0
33181     93354.0
33182    115932.0
Name: Annual Salary, Length: 25161, dtype: float64

In [24]:
t.interval(.95, (len(annual)-1), annual.mean(),stats.sem(annual))

(86526.99656774187, 87047.00301256099)

In [25]:
#Anna / TAs: Como interpretar este resultado?

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [26]:
from statsmodels.stats.proportion import proportions_ztest

In [27]:
# Your code here:

total = len(salaries)
hourly_workers = len(hourly)
proportions_ztest(hourly_workers, total, value=.25)

NameError: name 'hourly' is not defined